GIT_NAME="Roger Rabbit"
GIT_EMAIL=somebody@somewhere.org
GPG_EXPIRATION=1y
NEOVIM_VERSION=0.12.0
WEB_SERVER=nginx
PHP_ENABLE=true
PHP_VERSION=7.4
JAVA_ENABLE=false
JAVA_VERSION=8
JAVA_SERVER_MODE=tomcat
JAVA_DISTRO=temurin
JAVA_APP_JAR_PATH=
JAVA_APP_PORT=8081
JAVA_APP_ARGS=